<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="KKings.Foundation.Caching.Pipelines.Initialize.InitializeCaches, KKings.Foundation.Caching" resolve="true" />        
      </initialize>
    </pipelines>

    <services>
      <configurator type="KKings.Foundation.Caching.RegisterDependencies, KKings.Foundation.Caching" />
    </services>
  </sitecore>
</configuration>
